.App {
  max-width: 800px;
  margin: 0 auto;
}

.tab-element {
  list-style: none;
  display: inline-block;
  columns: 2;
  font-size: 24px;
}
.tab-wrapper {
  border-bottom: 2px solid blue;
  margin: 20px;
}
.total-wrapper {
  float: right;
}
.product-image {
  width: 65px;
  height: 65px;
  float: left;
}
.product-name {
  font-size: 15px;
  color: dodgerblue;
  font-weight: bold;
}
.product-description {
  color: gray;
}
.product-wrapper {
  border-bottom: 1px solid gray;
  margin: 20px;
  overflow: hidden;
}
.product-left {
  float: left;
  width: 80%;
}
.product-right {
  float: right;
}
